In [2]:
import pandas as pd
import numpy as np

In [3]:
ds=pd.Series(['vishal','kavit','MVP'])
print (ds)

0    vishal
1     kavit
2       MVP
dtype: object

In [8]:
Feedback=[10,9,9,8,8]
sub=['python','COA','fsd','TOC','DM']
ds=pd.Series(Feedback,index=sub)
print(ds)

python    10
COA        9
fsd        9
TOC        8
DM         8
dtype: int64

In [9]:
d={'python':10,'FSD':9,'DM':8,'Toc':5}
ds=pd.Series(d)
print(ds)
print(type(ds))

python    10
FSD        9
DM         8
Toc        5
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
ds=pd.read_csv('Book1.csv')
print(ds)

   roll
0     1
1     2
2     3
3     4
4     5
5     6
6     7

In [11]:
L=[[1,10,9],[2,9,8],[3,10,9]]
x=pd.DataFrame(L)
print(x)

   0   1  2
0  1  10  9
1  2   9  8
2  3  10  9

In [12]:
L=[[1,10,9],[2,9,8],[3,10,9]]
x=pd.DataFrame(L,index=['A','B','C'])
print(x)

   0   1  2
A  1  10  9
B  2   9  8
C  3  10  9

In [13]:
L=[[1,10,9],[2,9,8],[3,10,9]]
x=pd.DataFrame(L,index=['A','B','C'],columns=['Roll','Python','FSD'])
print(x)

   Roll  Python  FSD
A     1      10    9
B     2       9    8
C     3      10    9

In [18]:
L={'Roll':[1,10,9],'py':[2,9,8],'FSD':[3,10,9]}
x=pd.DataFrame(L)
print(x)

   Roll  py  FSD
0     1   2    3
1    10   9   10
2     9   8    9

In [26]:
ds=pd.read_csv('Book3.csv')
print(ds)

   roll  marks subject Remarks
0     1     12       a       A
1     2    123       b       B
2     3    146       c       C
3     4    222       d       D
4     5    221       e       E
5     6    222       f       A
6     7    456       g       B

In [27]:
ds=pd.read_csv('Book3.csv')
ds=ds.set_index('roll')
print(ds)

      marks subject Remarks
roll
1        12       a       A
2       123       b       B
3       146       c       C
4       222       d       D
5       221       e       E
6       222       f       A
7       456       g       B

In [35]:
ds=pd.read_csv('Book3.csv')
ds=ds.set_index('roll')
print(ds)
ds.dtypes
ds.index

      marks subject Remarks
roll
1        12       a       A
2       123       b       B
3       146       c       C
4       222       d       D
5       221       e       E
6       222       f       A
7       456       g       B

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64', name='roll')

In [37]:
ds.dtypes

marks       int64
subject    object
Remarks    object
dtype: object

In [38]:
ds.columns

Index(['marks', 'subject', 'Remarks'], dtype='object')

In [40]:
ds.axes

[Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64', name='roll'),
 Index(['marks', 'subject', 'Remarks'], dtype='object')]

In [41]:
ds.values

array([[12, 'a', 'A'],
       [123, 'b', 'B'],
       [146, 'c', 'C'],
       [222, 'd', 'D'],
       [221, 'e', 'E'],
       [222, 'f', 'A'],
       [456, 'g', 'B']], dtype=object)

In [42]:
ds.index

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64', name='roll')

In [43]:
##imp
ds.shape

(7, 3)

In [44]:
##IMP
##mutiplication of rows and columns
ds.size

21